<li class="nav-item dropdown mt-0 w-100">
    <a class="nav-link dropdown-toggle dropdown-menu-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categorie
    </a>
    <div id="CategorieLink" class="dropdown-menu" aria-labelledby="Categorie"> 
        <a class="nav-link" href="administration?status=addCategory">Aggiungi</a>
        <a class="nav-link" href="administration?status=modifyCategory">Modifica</a>
        <a class="nav-link" href="administration?status=removeCategory">Rimuovi</a>
    </div>
</li>

<li class="nav-item dropdown mt-0 w-100">
    <a class="nav-link dropdown-toggle dropdown-menu-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sottocategorie
    </a>
    <div id="SubcategorieLink" class="dropdown-menu" aria-labelledby="Sottocategorie"> 
        <a class="nav-link" href="administration?status=addSubcategory">Aggiungi</a>
        <a class="nav-link" href="administration?status=modifySubcategory">Modifica</a>
        <a class="nav-link" href="administration?status=removeSubcategory">Rimuovi</a>
    </div>
</li>

<li class="nav-item dropdown mt-0 w-100">
    <a class="nav-link dropdown-toggle dropdown-menu-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Opere
    </a>
    <div id="OpereLink" class="dropdown-menu" aria-labelledby="Opere" disabled> 
        <a class="nav-link" href="administration?status=addArt">Aggiungi</a>
        <a class="nav-link" href="administration?status=modifyArt">Modifica</a>
        <a class="nav-link" href="administration?status=removeArt">Rimuovi</a>
    </div>
</li>

<li class="nav-item dropdown mt-0 w-100">
    <a class="nav-link dropdown-toggle dropdown-menu-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Biografia
    </a>
    <div id="BiografiaLink" class="dropdown-menu" aria-labelledby="Biografia"> 
        <a class="nav-link" href="administration?status=addPhotoBiography">Aggiungi</a>
        <a class="nav-link" href="administration?status=removePhotoBiography">Rimuovi</a>
    </div>
</li>