<!--Contacts link-->
<li class="nav-item dropdown mt-0 w-100">
    <a class="nav-link dropdown-toggle dropdown-menu-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Contatti
    </a>
    <div class="dropdown-menu" aria-labelledby="Contatti">
        <img class="imageLink" src="https://img.icons8.com/dusk/64/000000/instagram-new.png" style="cursor:pointer" onclick="redirectToInstagram();">
        <img class="imageLink" src="https://img.icons8.com/dusk/64/000000/email.png" data-toggle="tooltip" data-placement="top" title="Copia" style="cursor:pointer">
    </div>
</li>