<!--Contacts link-->
<script>loadPubblications()</script>
<li class="nav-item dropdown mt-0 w-100">
    <a class="nav-link dropdown-toggle dropdown-menu-center" href="#" id="navbarDropdownMenuLink" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
      Pubblicazioni
    </a>
    <div id="pubblicationsLinks" class="dropdown-menu" aria-labelledby="Pubblicazioni">  
    </div>
</li>