<!-- MENU -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="MENU">
    <div class="container-fluid" id="menuContainer">
      <h1 id="menuTitle" class="text-white" style="cursor:default;" steps="0" onclick="goToLogin(this)">Daniele Buganza</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#index" aria-controls="index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="index">
        <ul class="navbar-nav" id="indexcolumn">
           
